{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}

<style>
  .breadcrumbs {
    margin: 0 0 2em;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex !important; 
    gap: 0.5rem;
  }

  .breadcrumbs__item {
    display: inline-block;
    text-transform: none;
  }

  .dac--title-breadcrumbs .breadcrumbs__item:first-child {
    padding-left: 0;
  }  

  .breadcrumbs__item:not(:last-child):after {
    border-style: solid;
    border-width: .10rem .10rem 0 0;
    border-color: currentColor;
    content: '';
    display: inline-block;
    position: relative;
    transform: rotate(45deg);
    vertical-align: middle;
  }

  .breadcrumbs__link:not(.is-current) {
    text-decoration: none;
    background: none !important;
    color: inherit;
    font-weight: normal;
  }
  .breadcrumbs__link:not(.is-current):hover,
  .breadcrumbs__link:not(.is-current):focus {
    text-decoration: underline;
  }

  .breadcrumbs__link.is-current {
    text-decoration: underline;
  }

  .breadcrumbs__item:not(:last-child):after {
    width: 5.75px;
    height: 5.75px;
    margin: 0 5.75px;
  }
</style>

<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/">Home</a>
    </li>
    {%- case t -%}
    {%- when 'page' -%}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link is-current" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
    </li>
    {%- when 'product' -%}
    {%- if collection.url -%}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{ collection.url }}">
        {{ collection.title }}
      </a>
    </li>
    {%- endif -%}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link is-current" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
    </li>
    {%- when 'collection' and collection.handle -%}
    {%- if current_tags -%}
    <li class="breadcrumbs__item">
      <a href="{{ collection.url }}" class="breadcrumbs__link">{{ collection.title }}</a>
    </li>
    <li class="breadcrumbs__item">
      {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
      <a class="breadcrumbs__link is-current" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
    </li>
    {%- else -%}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link is-current" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
    </li>
    {%- endif -%}
    {%- when 'blog' -%}
    {%- if current_tags -%}
    <li class="breadcrumbs__item">
      <a href="{{ blog.url }}" class="breadcrumbs__link">
        {{ blog.title }}
      </a>
    </li>
    <li class="breadcrumbs__item">
      {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
      <a class="breadcrumbs__link is-current" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
    </li>
    {%- else -%}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link is-current" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
    </li>
    {%- endif -%}
    {%- when 'article' -%}
    <li class="breadcrumbs__item">
      <a href="{{ blog.url }}" class="breadcrumbs__link">{{ blog.title }}</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
    </li>
    {%- else -%}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
    </li>
    {%- endcase -%}
  </ol>
</nav>
{%- endunless -%}