{{ 'section-selected-partners.css' | asset_url | stylesheet_tag }}

<style>



  .custom-accordion__item .custom-accordion__header:before,
  .custom-accordion__item .custom-accordion__header::after {
    background-color: rgb(var(--text-color));
    display: none;
  }

  #shopify-section-{{ section.id }} .selected-partners {
    padding-top: {{ section.settings.desktop_padding_top }}px; 
    padding-bottom: {{ section.settings.desktop_padding_bottom }}px; 
  }

  @media (max-width : 768px) {
    #shopify-section-{{ section.id }} .selected-partners {
      padding-top: {{ section.settings.mobile_padding_top }}px; 
      padding-bottom: {{ section.settings.desktop_padding_bottom }}px; 
    }
  }


</style>


{%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}

<div class="selected-partners color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }}">
  <div class="selected-partners__container container">
    <div class="selected-partners__title">
      <{{ section.settings.heading_size }} class="{{ section.settings.heading_size }}">{{ section.settings.title }}</{{ section.settings.heading_size }}>
    </div>
    <div class="selected-partners__content">
      <div class="custom-accordion">
        {%- for block in section.blocks -%}
          <div class="custom-accordion__item {% if block.settings.enable_pre_open == true %} active {% endif %} {%  if block.settings.enable_border == true %} bottom-border {% endif %}" {{ block.shopify_attributes }}>
            <button class="custom-accordion__header">
              {%- if block.settings.enable_icon == true -%}
                <div class="svg-con">
                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" viewBox="0 0 11 11">
                    <path d="M1.1,9.4h7.3S.3,1.3.3,1.3l.9-.9,8.1,8.1V1.2s1.3,1.3,1.3,1.3v8.2s-8.5,0-8.5,0l-1.1-1.3Z"/>
                  </svg>
                  {% comment %} <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" viewBox="0 0 12 14">
                    <path id="Vector" d="M12,7.4L6.7,2.5v11.5h-1.3V2.5L0,7.4v-1.8L6,0l6,5.6v1.8Z"/>
                  </svg> {% endcomment %}
                </div>
              {%- endif -%}
              {%- if block.settings.title == blank -%}
                <div class="{{ block.settings.heading_tag }}">{{ block.settings.article.title }}</div>
              {%- else -%}
                <div class="{{ block.settings.heading_tag }}">{{ block.settings.title }}</div>
              {%- endif -%}
            </button>
            <div class="custom-accordion__content {% if block.settings.enable_image != true %} full-content {% endif %}">
              {%- if block.settings.enable_image == true -%}
                <div class="custom-accordion__image-wrapper">
                  {%- if block.settings.image == blank -%}
                    {%- assign main_img = block.settings.article.image -%}
                  {%- else -%}
                    {%- assign main_img = block.settings.image -%}
                  {%- endif -%}
                  {%- if main_img != blank -%}
                    {{ main_img | image_url: width: 1200 | image_tag:
                      loading: 'lazy',
                      width: 1200,
                      height: 1200,
                      class: 'custom-accordion__image'
                    }}
                  {%- endif -%}
                </div>
              {%- endif -%}
              <div class="custom-accordion__text">
                {%- if block.settings.content != blank -%}
                  {{ block.settings.content }}
                {%- else -%}
                  {{ block.settings.article.content }}
                {%- endif -%}

                {%- if block.settings.enable_link == true -%}
                  {%- if block.settings.button_type == 'case_study' -%}
                    {%- if block.settings.article.metafields.custom.internal_url != blank -%}
                      <a href="{{ block.settings.article.metafields.custom.internal_url }}" class="custom-accordion__link">
                        Go to case study
                      </a>
                    {%- else -%}
                      <a href="{{ block.settings.article.url }}" class="custom-accordion__link">
                        Go to case study
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- if block.settings.article.metafields.custom.external_url != blank -%}
                      <a href="{{ block.settings.article.metafields.custom.external_url }}" class="custom-accordion__link custom-accordion__link--external" target="_blank">
                        Visit client site
                      </a>
                    {%- else -%}
                      <a href="{{ block.settings.article.url }}" class="custom-accordion__link custom-accordion__link--external" target="_blank">
                        Visit client site
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<script src="{{ 'section-selected-partners.js' |  asset_url }}"></script>

{% schema %}
{
  "name": "Editorial Accordion (DAC)",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Selected Partners"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Link Hover Color"
    },
    {
        "type": "range",
        "id" : "desktop_padding_top",
        "min": 0,
        "max": 500,
        "step" : 5,
        "default" : 80,
        "label": "Padding Top(desktop)"
    },
    {
        "type": "range",
        "id" : "mobile_padding_top",
        "min": 0,
        "max": 500,
        "step" : 5,
        "default" : 40,
        "label": "Padding Top(mobile)"
    },
    {
        "type": "range",
        "id" : "desktop_padding_bottom",
        "min": 0,
        "max": 500,
        "step" : 5,
        "default" : 100,
        "label": "Padding Bottom(desktop)"
    },
    {
        "type": "range",
        "id" : "mobile_padding_bottom",
        "min": 0,
        "max": 500,
        "step" : 5,
        "default" : 50,
        "label": "Padding Bottom(mobile)"
    }
  ],
  "blocks": [
    {
      "type": "partner",
      "name": "Partner",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Partner Name"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Title size",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "paragraph",
              "label" : "Paragraph"
            }
          ],
          "default": "h4"
        },
        {
          "type": "checkbox",
          "id": "enable_pre_open",
          "label": "Visible Content when loads",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_icon",
          "label": "Show icon",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_border",
          "label": "Show line",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Partner Image",
          "info": "You can use the custom image."
        },
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show Image",
          "default": true
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Partner description goes here.</p>",
          "info": "You can use this custom content."
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button Type",
          "options": [
            {
              "value": "case_study",
              "label": "Go to case study"
            },
            {
              "value": "client_site",
              "label": "Visit client site"
            }
          ],
          "default": "case_study"
        },
        {
          "type": "checkbox",
          "id": "enable_link",
          "label": "Show link button",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Editorial Accordion (DAC)",
      "category": "DAC Sections",
      "blocks": [
        {
          "type": "partner"
        }
      ]
    }
  ]
}
{% endschema %}